<div class="about-container">
    <div class="about-top">
        <h2>About Us</h2>
    </div>
    <div class="about-bottom">
        <img class="about-img" src="images/Avatar.jpg" />
        <div class="about-bottom-right">
            <div class="about-name">David Liu</div>
            <div class="about-detail">
                <span class="about-leading-text">Role: </span>Developer <br>
                <span class="about-leading-text">Email: </span> David.xp.liu@gmail.com
                <p><span class="about-leading-text">Introduction: </span> AntiQ Electronics is an unique platform
                    for
                    trading antique or old electronics. David has worked on the design and development of this web
                    app, and he is also the main contact of the platform.
                </p>
            </div>
        </div>
    </div>
</div>