<div class="thanks-box">
    <div class="thanks-intro">
        <h3>Thank you for shopping with us!</h3>
        <br>
        <br>
        <h5><a href="products">GO BACK SHOPPING</a></h5>
        </p>
    </div>
    <img src="images/Checkout.jpg" class="thanks-img">
</div>