<div class="container" id="form_setting">
    <form action="thanks" method="post">
        <div>
            <h2 style="margin-bottom: 5px;">Contact Us</h2>
            <p style="margin-bottom: 20px;">Send us a message if you need anything!</p>
            <p><input type="text" name="contact_name" placeholder="Name" required></p>
            <p><input type="email" name="contact_email" placeholder="Email" required></p>
            <p><textarea type="text" name="contact_message" rows="6" cols="50"
                    placeholder="Please type your message here" required></textarea></p>
            <p><input type="submit" value="Send" class="submitButton" /></p>
        </div>
    </form>
</div>