<div class="itemPage-box">
    <h2 class="itemPage-name">Record Player</h2>
    <img src="images/RecordPlayer.jpg" class="itemPage-img"></a>
    <p class="itemPage-description">
        This vintage classic record player was produced in 1900s. It was among one of the first batch record players
        manufactured in the human’s history. Yet it’s old, its acoustic effect is superior than your Bose speaker,
        because you are not only listening to music but listening to the history. Don’t wait, order now and enjoy
        the history today!
    </p>

    <div class="itemPage-bottom">

        <div class="itemPage-purchase-info">

            <div class="itemPage-pricing itemPage-large-text"> <span class="leading-text itemPage-large-text">Price:
                </span> $600
            </div>

            <div class="itemPage-select-quantity">
                <span class="leading-text itemPage-large-text">Quatity: </span>
                <select name="selected-quantity" class="itemPage-drop-down-quantity" id="drop-down-quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>

        </div>


        <div class="itemPage-purchase-button">
            <input type="button" value="Add to Cart" class="btn btn-success"
                onclick="add('RecordPlayer','Record Player', 600, itemNum());">
        </div>

    </div>
</div>