<div class="itemPage-box">
    <h2 class="itemPage-name">GBA-2000</h2>
    <img src="images/GBA2000.jpg" class="itemPage-img"></a>
    <p class="itemPage-description">
        GBA was first released in 2001, and it was the most popular handheld game consoles in 2000s. With
        this console, you can enjoy numerous of classic award-winning games like Pokémon Emerald, The
        Legend of Zelda, and Sonic Advance! Also, it’s been said by the experts that the price of an
        antique GBA will rocket in the next decade. So, buying this is also a great investment!
    </p>

    <div class="itemPage-bottom">

        <div class="itemPage-purchase-info">

            <div class="itemPage-pricing itemPage-large-text"> <span class="leading-text itemPage-large-text">Price:
                </span> $400
            </div>

            <div class="itemPage-select-quantity">
                <span class="leading-text itemPage-large-text">Quatity: </span>
                <select name="selected-quantity" class="itemPage-drop-down-quantity" id="drop-down-quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>

        </div>


        <div class="itemPage-purchase-button">
            <input type="button" value="Add to Cart" class="btn btn-success"
                onclick="add('GBA2000','GBA-2000', 400, itemNum());">
        </div>

    </div>
</div>