<div class="itemPage-box">
    <h2 class="itemPage-name">Antique TV</h2>
    <img src="images/OldTV.jpg" class="itemPage-img"></a>
    <p class="itemPage-description">
        This is the TV that been used in 1950s. The visual effect of this TV is black and white, which makes it a
        perfect companion of Charlie Chaplin’s movie, like Modern Times. Wait! The TV doesn’t support DVD player.
        So, probably you need to figure out yourself how to play a movie on it, lol.
    </p>

    <div class="itemPage-bottom">

        <div class="itemPage-purchase-info">

            <div class="itemPage-pricing itemPage-large-text"> <span class="leading-text itemPage-large-text">Price:
                </span> $1500
            </div>

            <div class="itemPage-select-quantity">
                <span class="leading-text itemPage-large-text">Quatity: </span>
                <select name="selected-quantity" class="itemPage-drop-down-quantity" id="drop-down-quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                </select>
            </div>

        </div>


        <div class="itemPage-purchase-button">
            <input type="button" value="Add to Cart" class="btn btn-success"
                onclick="add('OldTV','Antique TV', 1500, itemNum());">
        </div>

    </div>
</div>