<div class="container" id="logoff_form_setting">
    <form action="logoff" method="post">
        <div>
            <h2 class="logoff-header">Log Off</h2>
            <input type="submit" value="Log Off" class="logoff-submitButton" />
        </div>
    </form>
</div>