<div class="container" id="form_setting">
    <form action="register" method="get">
        <div>
            <h2 style="margin-bottom: 20px;">Sign up</h2>
            <p><input type="text" id="userid" name="userid" placeholder="Username" required></p>
            <p><input type="password" id="password" name="password" placeholder="Password" required></p>
            <p><input type="password" id="password" name="password2" placeholder="Re-enter Password" required></p>
            <p><input type="submit" value="Sign Up!" class="submitButton" /></p>
            <p> Already have an account? <a href="login">Log In</a></p>
        </div>
    </form>
</div>