<div class="thanks-box">
    <div class="thanks-intro">
        <h3>Thanks for the message! Our team will contact you soon!</h3>
        <br>
        <br>
        <h5><a href="products">GO BACK SHOPPING</a></h5>
        </p>
    </div>
    <img src="images/Thanks.jpg" class="thanks-img">
</div>